/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */



*{
  font-family: 'Patrick Hand', cursive;
}



#crsl {
  margin-bottom: 110px;

}

.card {
  margin: 10px;
}

.navbarIcon {
  height: 64px;
  width: 64px;
}

body {
  background-color: #3f4644;
}

#contactusText {
  height: 40%;
}

.submit-button{
  height: 50px;
  width: 300px;
  border-radius: 8px;
  border: none;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-caption{
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 10px;
}

.card-img{
  cursor: pointer;
  transition: box-shadow 0.15s;    
}

.card :hover{
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.30);
}

.card-img :active{

}

.homepage-services{
  background-color: aliceblue;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}


.homepage-services-header{
  background-color: aliceblue;
  border-radius: 10px;
  padding: 5px;

}

.homepage-slogan{
  background-color: rgb(158, 120, 201);
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  width: 50%;
}

.instrument-pages-header{
  background-color: rgba(33, 37, 41, 1);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  color: aliceblue;
  margin-left: 300px;
  margin-right: 300px;
}